<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rede Social Catarinense!">
    <meta name="keywords" content="site, catarinense, santa catarina, rede social">
    <title>Sou SC</title>
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/all.css" rel="stylesheet">
  </head>
  <body>
    <% include includes/header.html %>
    <div class="container container-home">
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default panel-login">
            <div class="panel-body text-center">
              <p>Nenhum usuário encontrado!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/js/ctrl/all.js"></script>
  </body>
</html>