<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rede Social Catarinense!">
    <meta name="keywords" content="site, catarinense, santa catarina, rede social">
    <title>Sou SC</title>
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link rel="author" href="fabricioronchi.com">

    <!-- Bootstrap core CSS -->
    <link href="http://olacador.rs/public/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://olacador.rs/public/css/main.css" rel="stylesheet">

     <!-- FLAT UI CSS -->
    <link href="http://olacador.rs/public/css/flat-ui.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet" type="text/css">
<link rel="canonical" href="http://olacador.rs/">
</head>

  <body id="index-login">
  	<!-- navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<!-- container -->
      <div class="container">
      	<div class="popout"></div>

      	<!-- navbar-header -->
        <div class="navbar-header">
          <a class="navbar-brand">
          	<img src="http://olacador.rs/public/img/logo.png" class="logo">
          	</a>
        </div><!-- navbar-header -->

        <!-- collapse-->
      </div><!--/.container -->
    </div><!-- navbar -->

    <!-- container -->
    <div class="container container-main">
    	<!-- col-md -->
    	<div class="col-md-8 col-pb">
    			<h1 class="title-home">O Laçador</h1>
    			<h6 class="sub-title-home">
    				Tchê! Seja bem-vindo(a) ao microblog do RS!<br><br>Compartilhe ideias, eventos e acontecimentos do nosso Estado!<br>Saiba tudo o que está acontecendo por aqui...<br><br>Lace novas amizades!    				</h6>

    	</div><!--/col-md-8 -->

      <!-- col-md -->
      <div class="col-md-4">

      	<!-- Start Login Form -->
      	<div class="panel panel-default panel-login">

          <div class="login-form">

          	<!-- recover form -->
          	<form style="display: none;" action="" method="post" name="form" id="recover_pass_form" class="recoverForm">
	            <div class="form-group">
	              <input type="text" class="form-control login-field" name="email_recover" id="email_recover" placeholder="Digite o teu e-mail" title="Digite o teu e-mail" autocomplete="off">
	              <label class="login-field-icon fui-mail" for="email_recover"></label>
	            </div>
	            <div class="alert alert-danger" id="error_recover" role="alert"></div>
	            <div class="alert alert-success" id="success_recover" role="alert"></div>

	            <button type="submit" class="btn btn-primary btn-lg btn-block" id="buttonRecoverPass">Enviar</button>
	            <a class="login-link link-home buttonBack" href="javascript:void(0);"><i class="fa fa-arrow-left"></i> Voltar</a>


          </form><!--./form -->


          	<form action="" method="post" name="form" id="signin_form" class="signInForm">
	            <div class="form-group">
	              <input type="text" class="form-control login-field" name="user" id="user" placeholder="Nome de usuário ou e-mail" title="Nome de usuário ou e-mail" autocomplete="off">
	              <label class="login-field-icon fui-user" for="user"></label>
	            </div>

	            <div class="form-group">
	              <input type="password" class="form-control login-field" name="password" id="password_signin" placeholder="Senha" title="Senha" autocomplete="off">
	              <label class="login-field-icon fui-lock" for="password_signin"></label>
	            </div>

	            <div class="alert alert-danger" id="error" role="alert"></div>
	            <div class="alert alert-success" id="success_signin" role="alert"></div>

	            <button type="submit" class="btn btn-primary btn-lg btn-block" id="buttonSignIn" data-wait="Por favor, aguarde ...">Entrar</button>


	            <a class="login-link link-home buttonForgot" href="javascript:void(0);">Esqueceu tua senha?</a>

	            <div class="btn-block text-center">
	            	<label class="checkbox-inline">
					  <input type="checkbox" value="1" name="Keeplogged" id="Keeplogged" tabindex="3" autocomplete="off">
					   <span class="label-terms">Mantenha-me conectado</span>
					</label>
	            </div>

	          </form></div><!-- login-form -->
          <!--./form -->
        </div><!-- /End panel-login -->

      </div><!--/col-md-4 -->


    </div><!-- /.container -->




</body></html>