<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Rede Social Catarinense!">
    <meta name="keywords" content="site, catarinense, santa catarina, rede social">
    <title>Sou SC</title>
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <link href="/css/all.css" rel="stylesheet">
  </head>
  <body ng-controller="ctrl-home" class="ng-cloak">
    <% include includes/header.html %>
    <div class="container container-home">
      <div class="row">
        <div class="col-sm-4">
          <div class="panel panel-default panel-me">
            <div class="panel-me-body">
              <a href="/<%- username %>">
                <img class="img-me-banner" src="https://pbs.twimg.com/profile_banners/112698668/1422786963/600x200">
              </a>
              <div class="row row-me">
                <div class="col-sm-5 text-center img-me-avatar-container">
                  <a href="/<%- username %>">
                    <img class="img-me-avatar" src="/api/image/<%- id %>">
                  </a>
                </div>
                <div class="col-sm-7">
                  <span class="title-me-name">
                    <a href="/<%- username %>"><%- user %></a>
                  </span>
                  <span class="title-me-username">
                    <a href="/<%- username %>">@<%- username %></a>
                    </span>
                </div>
              </div>
              <div class="row row-me">
                <div class="col-sm-4 text-center">
                  <span class="title-me">Mensagens</span>
                  <span class="title-me-data">
                    <a href="/<%- username %>" id="me-message"><%- message %></a>
                  </span>
                </div>
                <div class="col-sm-4 text-center">
                  <span class="title-me">Seguindo</span>
                  <span class="title-me-data">
                    <a href="/<%- username %>"><%- following %></a>
                    </span>
                </div>
                <div class="col-sm-4 text-center">
                  <span class="title-me">Seguidores</span>
                  <span class="title-me-data">
                    <a href="/<%- username %>"><%- followers %></a>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default panel-login">
                <div class="panel-body panel-write">
                  <div class="form-login">
                    <form name="form">
                      <div class="form-group">
                        <textarea class="form-control" rows="3" placeholder="O que está acontecendo?" ng-model="message" maxlength="150" ng-keypress="write($event)"></textarea>
                      </div>
                      <div class="form-group pull-right">
                        <button ng-disabled="disabledWrite(message)" type="button" class="btn btn-primary btn-login" ng-click="write($event)">
                          <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Enviar</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" ng-show="messages.length > 0">
            <div class="col-sm-12">
              <div class="panel panel-default panel-login">
                <div class="panel-body">
                  <div ng-repeat="obj in messages">
                    <div class="row">
                      <div class="col-sm-2 text-center">
                        <a href="/<%- username %>">
                          <img class="img-avatar-post" ng-src="/api/image/{{obj.User.id}}">
                        </a>
                      </div>
                      <div class="col-sm-10">
                        <span class="name-user-message">
                          <a href="/{{obj.User.username}}">{{obj.User.name}}</a>
                        </span>
                        <span class="date-user-message">{{obj.createdAt | date:'HH:mm dd/MM/yyyy'}}</span>
                        <br>
                        <span class="message-user-message">{{obj.message}}</span>
                      </div>
                    </div>
                    <hr ng-if="($index + 1) != messages.length">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/angularjs/dist/angular.min.js"></script>
    <script type="text/javascript" src="/lib/angularjs/dist/angular-animate.min.js"></script>
    <script type="text/javascript" src="/js/ctrl/home.js"></script>
    <script type="text/javascript" src="/js/ctrl/all.js"></script>
  </body>
</html>